.feature__menu {
    display: flex;
}

.feature__list {
    height: 120px;
    width: calc((100% - 90px) / 4);
    margin-right: 30px;
}

.feature__list:last-child {
    margin-right: 0;
}

.feature__img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: var(--section-team-color);
    border-radius: 4px;
}

.feature__svg {
    background: var(--section-team-color);
    border-radius: 4px;
}

.feature__title {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    margin-top: 30px;

}

.feature__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
}